:root {
  /* colors */
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  /* font weights */
  --fw-500: 500;
  --fw-800: 800;
}
@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Figtree";
  font-size: 16px;
  height: 100%;
  background-color: var(--yellow);
}
section#wrapper {
  width: 364px;
  padding: 17px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 7px 7px var(--gray-950);
}
aside.w-header img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
aside.w-body {
  padding: 20px 0 20px 0;
}
aside.w-body small:nth-child(1) {
  background-color: var(--yellow);
  border-radius: 4px;
  margin-bottom: 8px;
  display: block;
  width: 70px;
  text-align: center;
  padding: 7px 0 7px 0;
  font-weight: var(--fw-800);
  color: var(--gray-950);
  font-size: 13px;
}
aside.w-body small:nth-child(2) {
  margin: 0 0 0 0;
  color: black;
}
aside.w-body h1 {
  font-size: 1.5em;
  padding: 16px 0 14px 0;
  font-weight: var(--fw-800);
  cursor: pointer;
}
aside.w-body h1 abbr {
  text-decoration: none;
}
aside.w-body h1:hover {
  color: var(--yellow);
}
aside.w-body p {
  color: var(--gray-500);
  line-height: 1.4;
}
aside.w-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
aside.w-footer img {
  width: 30px;
  height: 30px;
}
aside.w-footer p {
  font-weight: var(--fw-800);
  color: var(--gray-950);
  font-size: 14px;
}
